.why-me {
  &__container {}

  &__title {
    margin-bottom: $size-850;

    @media (max-width: $tablet) {
      margin-bottom: $size-600;
    }

    @media (max-width: $mobile) {
      margin-bottom: $size-400;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $size-500 $size-900;

    @media (max-width: $tablet) {
      gap: $size-500 $size-600;
    }

    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
      gap: $size-500;
    }
  }

  &__item {}

  &__caption {
    position: relative;
    margin-bottom: $size-500;
    margin-left: $size-900;
    font-size: $fs-800;
    line-height: math.div($fs-1050, $fs-800);
    width: fit-content;
    padding: 0 $size-100;
    border-bottom: 1px solid $darkColor;

    &::after {
      content: '';
      background: url('@img/prof.svg') 0 0 no-repeat;
      position: absolute;
      top: 0;
      left: rem(-90);
      width: rem(67);
      height: rem(67);
    }

    @media (max-width: $tablet) {
      font-size: $fs-700;
    }
  }

  &__descr {
    font-size: $size-400;
    line-height: math.div($size-500, $size-400);

    @media (max-width: $tablet) {
      font-size: $fs-300;
    }
  }
}